<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %> | <%= page %></title>
    <link rel="stylesheet" href="/css/nav.css">
    <link rel="stylesheet" href="/css/error.css">
    <%- include('./components/header') %>
</head>
<body>
    <%- include('./components/navbar') %>
    <div class="container">
        <div class="img">
            <img src="/img/meditation.png" width="250" alt="Invalid Url">
        </div>
        <div class="description">
            <h1>Something's wrong here.</h1>
            <p><%= message %> Maybe what you are looking for can not be found <%= domain %>. <%= domain %> links are case sensitive.</p>
        </div>
    </div>
</body>
</html>